@charset "UTF-8";
* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-kerning: auto;
    font-kerning: auto;
}

.rotate-45 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

html {
    line-height: normal;
    letter-spacing: normal;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    font-family: Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

dl {
    margin: 0;
    clear: both;
    overflow: hidden;
}


/* display flex */

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/* end display flex */


/* margin */

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
}


/*  end margin */


/* padding */

.px-0 {
    padding-left: 0;
    padding-right: 0;
}


/* end padding */


/*font*/

.text-bold {
    font-weight: bold;
}

.text-500 {
    font-weight: 500;
}

.font-helvetica {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fs-12 {
    font-size: 12px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-28 {
    font-size: 28px;
}

.fs-36 {
    font-size: 36px;
}


/*end font*/


/*color*/

.pink {
    color: #cf70a4;
}

.silver {
    color: #c1c1c4;
}

.white {
    color: #fff;
}

.warm-grey {
    color: #9b9b9b;
}

.greyish-brown {
    color: #4c4c4c;
}

.warm-purple {
    color: #9b3685;
}

.bg-disable {
    background-color: #e7e8ec;
}

.bg-wram-purple {
    background-color: #9b3685;
}

.bg-dark-purple {
    background-color: #781b6d;
}

.bg-pink {
    background-color: #cf70a4;
}


/*end color*/


/* button */

.button {
    border-radius: 20px;
    height: 40px;
    color: #fff;
    outline: none;
    border: none;
    width: 200px;
}

.button:disabled {
    background-color: #e7e8ec !important;
    border: none;
    color: #fff;
    cursor: not-allowed;
}

.button:disabled:hover {
    background-color: #e7e8ec !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.main-button {
    background: -webkit-linear-gradient(79deg, #811975, #ec91b6);
    background: -o-linear-gradient(79deg, #811975, #ec91b6);
    background: linear-gradient(79deg, #811975, #ec91b6);
}

.main-button:hover {
    background: -webkit-linear-gradient(79deg, #811975, #ec91b6);
    background: -o-linear-gradient(79deg, #811975, #ec91b6);
    background: linear-gradient(79deg, #811975, #ec91b6);
    -webkit-box-shadow: 0 2px 16px 0 rgba(155, 54, 133, 0.48);
    box-shadow: 0 2px 16px 0 rgba(155, 54, 133, 0.48);
}

.sub-button {
    color: #c1c1c4;
    border: solid 1px #c1c1c4;
    background: none;
}

.sub-button:hover {
    color: #fff;
    border: none;
    background: -webkit-linear-gradient(11deg, #811975, #ec91b6);
    background: -o-linear-gradient(11deg, #811975, #ec91b6);
    background: linear-gradient(79deg, #811975, #ec91b6);
}

.billing-button {
    background-color: #8ddc37;
}

.billing-button:hover {
    -webkit-box-shadow: 0 2px 16px 0 rgba(141, 220, 55, 0.48);
    box-shadow: 0 2px 16px 0 rgba(141, 220, 55, 0.48);
}


/* end button */


/* header */

.header {
    border: none !important;
    padding: 22px 0;
    color: #fff;
    background: none !important;
}

.header .wrapper,
.wrapper {
    max-width: 1088px;
    margin: auto;
}

.header .logo {
    width: 256px;
}

.navbar-collapse {
    padding-right: 0;
    margin-left: auto;
}

.navbar-collapse ul {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.navbar-collapse li a {
    padding: 9px 15px !important;
    color: #fff !important;
}

.navbar-collapse li:nth-child(2) {
    padding: 0 25px;
}

.navbar-collapse li:last-child a {
    border-radius: 20px;
    border: 1px solid #fff;
}


/* end header */

#news {
    background-color: #0d0d0d;
    color: #9b9b9b;
    font-family: Helvetica;
    padding-top: 80px;
    padding-bottom: 64px;
}

#news .wrapper {
    padding: 0 15px;
}

#news .title {
    font-size: 16px;
    color: #fff;
    padding-bottom: 16px;
    position: relative;
}

#news .title:before {
    content: "";
    width: 32px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}

#news dt {
    font-weight: bold;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    float: left;
    padding-right: 40px;
}

#news dd {
    margin-left: auto;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    float: left;
    position: relative;
}

#news dl {
    border-bottom: 1px solid #4c4c4c;
    padding: 16px 0;
}

#news dl:last-child {
    border: none;
}

#news dl a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#news dl a:hover {
    color: #fff;
}

#news .news-list {
    padding-top: 26px;
}


/* footer */

footer {
    padding: 100px 0 14px;
    background-color: #000;
    color: #4c4c4c;
}

footer .social {
    padding-top: 25px;
}

footer .social i {
    display: inline-block;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    font-size: 23px;
}

footer .social a {
    color: unset;
    text-decoration: none;
}

footer .social a:hover {
    color: unset;
}

footer .twitter {
    margin-right: 19px;
}

footer .logo img {
    width: 206px;
}

footer p {
    padding-bottom: 20px;
    line-height: 14px;
    margin: 0;
}

footer ul li {
    display: block;
    padding: 12px 0;
}

footer ul a {
    color: #9b9b9b;
    font-size: 12px;
    line-height: 14px;
}

footer ul a:hover {
    color: #9b9b9b;
}

address {
    padding-top: 68px;
    margin: 0;
    font-size: 10px;
    line-height: 10px;
}


/* end footer */


/* responesive */

@media screen and (max-width: 767px) {
    /* header */
    header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 9999;
    }
    header.active {
        background-color: #000;
    }
    header .navbar {
        margin: 0;
        padding-bottom: 120px;
    }
    .header .logo {
        padding-left: 15px;
    }
    .header .navbar-collapse {
        border: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    .header ul {
        display: block;
        padding-top: 60px;
    }
    .header .nav li {
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content;
        margin: auto;
        padding: 6px 0;
    }
    .header .nav li:last-child {
        padding-top: 15px;
        padding-bottom: 0;
    }
    .navbar-default .navbar-toggle {
        margin-top: 0;
        margin-bottom: 0;
        border: none;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
        opacity: 1;
        transition: all 0.5s;
        position: relative;
    }
    header.active .navbar-default .navbar-toggle span:nth-child(2) {
        transform: rotate(45deg);
        top: 5px;
    }
    header.active .navbar-default .navbar-toggle span:nth-child(3) {
        opacity: 0;
    }
    header.active .navbar-default .navbar-toggle span:last-child {
        transform: rotate(-45deg);
        top: -7px;
    }
    .navbar-toggle .icon-bar {
        height: 1px;
        width: 20px;
    }
    .navbar-toggle .icon-bar+.icon-bar {
        margin-top: 5px;
    }
    .navbar-toggle {
        margin-right: 20px;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    /* end header */
    #news dt {
        float: none;
    }
    #news dd {
        float: none;
        margin: 0;
        padding-top: 10px;
    }
    /* footer */
    footer {
        padding: 80px 15px 14px;
    }
    footer .social {
        padding-bottom: 67px;
    }
    footer .col-lg-3:last-child {
        padding-top: 52px;
    }
    /* end footer */
}

@media screen and (max-width: 575px) {
    #news,
    #news .title {
        font-size: 12px !important;
        line-height: 16px !important;
    }
    #news dd {
        line-height: 22px !important;
    }
    /* footer */
    footer {
        padding: 80px 35px 14px;
    }
    /* end footer */
}

@media screen and (max-width: 414px) {
    #news .fa {
        font-size: 16px;
        position: absolute;
        right: 10px;
        bottom: 0;
    }
}


/* end responesive */