@charset "UTF-8";
* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

html {
    line-height: normal;
    letter-spacing: normal;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    font-family: Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}


/* display flex */

.d-flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}


/* display flex */


/* margin */

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}


/*  end margin */


/*font*/

.text-bold {
    font-weight: bold;
}

.font-helvetica {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fs-16 {
    font-size: 16px;
}

.fs-36 {
    font-size: 36px;
}

.fs-24 {
    font-size: 24px;
}

.fs-28 {
    font-size: 28px;
}


/*end font*/


/*color*/

.warm-grey {
    color: #9b9b9b;
}

.greyish-brown {
    color: #4c4c4c;
}

.warm-purple {
    color: #9b3685;
}


/*end color*/

dl {
    margin: 0;
    clear: both;
    overflow: hidden;
}

.button {
    border-radius: 20px;
    height: 40px;
    color: #fff;
    outline: none;
    border: none;
    width: 200px;
}

.button:disabled {
    background: #e7e8ec !important;
    border: none;
    color: #fff;
    cursor: not-allowed;
}

.button:disabled:hover {
    background: #e7e8ec !important;
    box-shadow: none !important;
}

.main-button {
    background: -webkit-linear-gradient(11deg, #811975, #ec91b6);
    background: -o-linear-gradient(11deg, #811975, #ec91b6);
    background: linear-gradient(79deg, #811975, #ec91b6);
}

.main-button:hover {
    background: -webkit-linear-gradient(11deg, #811975, #ec91b6);
    background: -o-linear-gradient(11deg, #811975, #ec91b6);
    background: linear-gradient(79deg, #811975, #ec91b6);
    -webkit-box-shadow: 0 2px 16px 0 rgba(155, 54, 133, 0.48);
    box-shadow: 0 2px 16px 0 rgba(155, 54, 133, 0.48);
}

.sub-button {
    color: #c1c1c4;
    border: solid 1px #c1c1c4;
    background: none;
}

.sub-button:hover {
    color: #fff;
    border: none;
    background: -webkit-linear-gradient(11deg, #811975, #ec91b6);
    background: -o-linear-gradient(11deg, #811975, #ec91b6);
    background: linear-gradient(79deg, #811975, #ec91b6);
}

.billing-button {
    background-color: #8ddc37;
}

.billing-button:hover {
    -webkit-box-shadow: 0 2px 16px 0 rgba(141, 220, 55, 0.48);
    box-shadow: 0 2px 16px 0 rgba(141, 220, 55, 0.48);
}

.header {
    border: none !important;
    padding: 22px 0;
    color: #fff;
    background: none !important;
}

.header .wrapper {
    max-width: 1148px;
    margin: auto;
}

.header .logo {
    width: 256px;
}

.navbar-collapse {
    padding-right: 0;
    margin-left: auto;
}

.navbar-collapse ul {
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar-collapse li a {
    padding: 9px 15px !important;
    color: #fff !important;
}

.navbar-collapse li:nth-child(2) {
    padding: 0 25px;
}

.navbar-collapse li:last-child a {
    border-radius: 20px;
    border: 1px solid #fff;
}

#news {
    background: #0b0b0b;
    color: #9b9b9b;
    font-family: Helvetica;
    padding-top: 80px;
    padding-bottom: 64px;
}

#news .wrapper {
    max-width: 720px;
    margin: auto;
    padding: 0 15px;
}

#news .title {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 18px;
}

#news dt {
    font-weight: bold;
    max-width: max-content;
    float: left;
}

#news dd {
    margin-left: auto;
    max-width: max-content;
    float: right;
}

#news dl {
    border-bottom: 1px solid #4c4c4c;
    padding: 16px 0;
}

#news dl:hover {
    color: #fff;
}

#news dl:last-child {
    border: none;
}

footer {
    padding: 80px 0;
    background: #000;
    color: #4c4c4c;
    text-align: center;
}

footer .social {
    padding-bottom: 48px;
    padding-top: 65px;
}

footer .social i {
    display: inline-block;
    max-width: max-content;
    padding: 0 19px;
    font-size: 23px;
}

footer .logo img {
    width: 176px;
}

footer li {
    padding: 20px 16px 0;
    display: inline-block;
}

address {
    padding-top: 32px;
}

@media screen and (max-width: 767px) {
    .header .navbar-toggle {
        margin-top: 0;
    }
    .header .logo {
        padding-left: 15px;
    }
    .header .navbar-collapse {
        border: none !important;
        box-shadow: none !important;
    }
    .header ul {
        display: block;
    }
    .header .nav li {
        padding: 0 !important;
        max-width: max-content;
    }
    #news dt {
        float: none;
    }
    #news dd {
        float: none;
        margin: 0;
        padding-top: 10px;
    }
}

@media screen and (max-width: 375px) {
    .header .logo {
        width: 75%;
    }
}