//Preset css
* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

html {
    line-height: normal;
    letter-spacing: normal;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #595b5c;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    font-family: Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

ul {
    list-style: none;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

.text-bold {
    font-weight: bold;
}

.font-helvetica {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

dl {
    margin: 0;
    clear: both;
    overflow: hidden;
}

// end Preset css
// button
.button {
    border-radius: 20px;
    height: 40px;
    color: #fff;
    outline: none;
    border: none;
    width: 200px;
    &:disabled {
        background: #e7e8ec !important;
        border: none;
        color: #fff;
        cursor: not-allowed;
        &:hover {
            background: #e7e8ec !important;
            box-shadow: none !important;
        }
    }
}

.main-button {
    background: -webkit-linear-gradient(11deg, #811975, #ec91b6);
    background: -o-linear-gradient(11deg, #811975, #ec91b6);
    background: linear-gradient(79deg, #811975, #ec91b6);
    &:hover {
        background: -webkit-linear-gradient(11deg, #811975, #ec91b6);
        background: -o-linear-gradient(11deg, #811975, #ec91b6);
        background: linear-gradient(79deg, #811975, #ec91b6);
        -webkit-box-shadow: 0 2px 16px 0 rgba(155, 54, 133, 0.48);
        box-shadow: 0 2px 16px 0 rgba(155, 54, 133, 0.48);
    }
}

.sub-button {
    color: #c1c1c4;
    border: solid 1px #c1c1c4;
    background: none;
    &:hover {
        color: #fff;
        border: none;
        background: -webkit-linear-gradient(11deg, #811975, #ec91b6);
        background: -o-linear-gradient(11deg, #811975, #ec91b6);
        background: linear-gradient(79deg, #811975, #ec91b6);
    }
}

.billing-button {
    background-color: #8ddc37;
    &:hover {
        -webkit-box-shadow: 0 2px 16px 0 rgba(141, 220, 55, 0.48);
        box-shadow: 0 2px 16px 0 rgba(141, 220, 55, 0.48);
    }
}

// end button
// =========Header
.header {
    border: none !important;
    padding: 22px 0;
    color: #fff;
    background: none !important;
    .wrapper {
        max-width: 1148px;
        margin: auto;
    }
    .logo {
        width: 256px;
    }
}

.navbar-collapse {
    padding-right: 0;
    margin-left: auto;
    ul {
        margin: 0;
        display: flex;
        justify-content: flex-end;
    }
    li {
        a {
            padding: 9px 15px !important;
            color: #fff !important;
        }
        &:nth-child(2) {
            padding: 0 25px;
        }
        &:last-child {
            a {
                border-radius: 20px;
                border: 1px solid #fff;
            }
        }
    }
}

// end Header
// Section News
#news {
    background: #0b0b0b;
    color: #9b9b9b;
    font-family: Helvetica;
    padding-top: 80px;
    padding-bottom: 64px;
    .wrapper {
        max-width: 720px;
        margin: auto;
        padding: 0 15px;
    }
    .title {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        padding-bottom: 18px;
    }
    dt {
        font-weight: bold;
        max-width: max-content;
        float: left;
    }
    dd {
        margin-left: auto;
        max-width: max-content;
        float: right;
    }
    dl {
        border-bottom: 1px solid #4c4c4c;
        padding: 16px 0;
        &:hover {
            color: #fff;
        }
        &:last-child {
            border: none;
        }
    }
}

// end Section News
// Footer
footer {
    padding: 80px 0;
    background: #000;
    color: #4c4c4c;
    text-align: center;
    .social {
        padding-bottom: 48px;
        padding-top: 65px;
        i {
            display: inline-block;
            max-width: max-content;
            padding: 0 19px;
            font-size: 23px;
        }
    }
    .logo {
        img {
            width: 176px;
        }
    }
    li {
        padding: 20px 16px 0;
        display: inline-block;
    }
}

address {
    padding-top: 32px;
}

// end Footer
// responsive
@media screen and (max-width:767px) {
    // header
    .header {
        .navbar-toggle {
            margin-top: 0;
        }
        .logo {
            padding-left: 15px;
        }
        .navbar-collapse {
            border: none !important;
            box-shadow: none !important;
        }
        ul {
            display: block;
        }
        .nav {
            li {
                padding: 0 !important;
                max-width: max-content;
            }
        }
    }
    // header
    // News
    #news {
        dt {
            float: none;
        }
        dd {
            float: none;
            margin: 0;
            padding-top: 10px;
        }
    }
    // End news
}

@media screen and (max-width:375px) {
    // logo
    .header {
        .logo {
            width: 75%;
        }
    }
    // end logo
}

//end responsive;