img.logo {
    width: 80%;
    margin-bottom: 80px;
}

.pw-block {
    margin-top: 150px;
    text-align: center;
}

.pw-block input {
    height: 40px;
    margin: 20px 0;
}

.pw-block .button {
    width: 100%;
    padding: 15px 0;
    height: unset;
}

.pw-block .error {
    text-align: left;
}