.header .nav a {
  color: #9b9b9b !important;
}

.navbar-collapse li:last-child a {
  border-radius: 20px;
  border: 1px solid #9b9b9b;
}

.container {
  padding: 80px 15px;
  width: 1390px;
}

p {
  margin: 0;
}

.bg-purple-gradient {
  background-image: linear-gradient(70deg, #811975, #ec91b6);
  background-image: -webkit-linear-gradient(20deg, #811975, #ec91b6);
  background-image: -o-linear-gradient(20deg, #811975, #ec91b6);
}

.nav.nav-tabs,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav > li > a:focus,
.nav > li > a:hover {
  background: none;
  border: none;
}

.nav.nav-tabs {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  display: inline-block;
  border-radius: 100px;
  font-size: 16px;
}

.nav.nav-tabs li {
  width: 160px;
  text-align: center;
  height: 40px;
  font-weight: bold;
}

.nav.nav-tabs li a {
  color: #9b3685;
  border: none;
  padding: 0;
  line-height: 36px;
  margin: 0;
}

.nav.nav-tabs li.active a {
  line-height: 40px;
}

.nav.nav-tabs li.personal.active {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border: none;
  background-color: #9b3685;
}

.nav.nav-tabs li.personal.active a {
  color: #fff;
}

.nav.nav-tabs li.personal {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border: 2px solid #9b3685;
}

.nav.nav-tabs li.personal a {
  color: #9b3685;
}

.nav.nav-tabs li.business {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border: 2px solid #9b3685;
}

.nav.nav-tabs li.business.active {
  border-color: transparent;
  background-color: #9b3685;
}

.nav.nav-tabs li.business.active a {
  line-height: 36px;
  color: #fff;
}

.tab-content {
  max-width: 1085px;
  margin: 0 auto;
  padding-top: 105px;
}

#plan {
  text-align: center;
}

#plan .note {
  text-align: left;
  padding-top: 30px;
  line-height: 22px;
}

#plan [class*='mdi-']:before {
  font-size: 17px;
  font-weight: bold;
}

#plan .mdi-plus:before {
  font-weight: 500;
}

#plan .button {
  width: 149px;
  margin: auto;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 40px;
}

#plan .sub-button {
  border-color: #9b3685;
  color: #9b3685;
}

#plan .sub-button:hover {
  color: #fff;
}

#plan .price {
  color: #9b3685;
  padding-bottom: 12px;
  font-size: 28px;
  font-weight: bold;
}

#plan .price + p {
  font-size: 12px;
}

#plan .price span {
  font-size: 14px;
  font-weight: normal;
}

#plan .package-name {
  padding: 33px 0;
  letter-spacing: -.1px;
}

#plan .package-price {
  border-right: 1px solid #e4e8e8;
  margin-right: -1px;
}

#plan .column-1 {
  text-align: left;
  margin-top: auto;
  line-height: 14px;
  font-size: 12px;
  color: #4c4c4c;
}

#plan .column-1 .row-1 {
  height: 285px;
  font-size: 14px;
}

#plan .column-1 .fs-12 {
  line-height: 16px;
  padding-top: 7px;
}

#plan .column-1 [class*='row'] {
  border-top: 1px solid #e4e8e8;
  border-right: 1px solid #e4e8e8;
  margin-right: -1px;
  font-weight: bold;
  padding: 0 10px 0 20px;
  line-height: 19px;
}

#plan .column-2 .border-top-left {
  border-top-left-radius: 8px;
  border: 1px solid #e4e8e8;
  border-right: none;
  padding-bottom: 32px;
}

#plan .item-check {
  line-height: 24px;
  border-right: 1px solid #e4e8e8;
  border-top: 1px solid #e4e8e8;
  margin-right: -1px;
  font-weight: 500;
}

#plan .column-5 .package-price {
  margin-right: 0;
}

#plan .column-5 .item-check {
  margin-right: 0;
}

#plan .border-top-right {
  border-top-right-radius: 8px;
}

#plan .row-1 {
  height: 284px;
}

#plan .row-2,
#plan .row-3,
#plan .row-4 {
  height: 65px;
}

#plan .row-5,
#plan .row-6,
#plan .row-7 {
  height: 100px;
}

#plan .row-last [class*='column'] {
  padding: 36px 0;
}

#plan .row-last .column-1 {
  width: 217px;
  margin: 0;
  font-weight: bold;
  border-top: 1px solid #e4e8e8;
  border-bottom: 1px solid #e4e8e8;
  padding: 0 10px 0 20px;
}

#plan .row-last .column-2 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: 1px solid #e4e8e8;
}

#plan .row-last .fs-12 {
  line-height: 18px;
}

#plan .row-last .fs-16 {
  line-height: 22px;
  padding-bottom: 5px;
  font-style: italic;
}

#plan .column-3 .package-name,
#plan .column-4 .package-name,
#plan .column-5 .package-name {
  padding-bottom: 34px;
}

.plan-table > div {
  width: 217px;
}

.package-des {
  font-size: 12px;
  line-height: 22px;
}

.package-price {
  height: 284px;
  padding: 55px 0 40px;
}

#business {
  width: 868px;
  margin: 0 auto;
}

#business .button {
  margin-top: 0;
}

#business .note {
  letter-spacing: -1px;
}

#business .package-name {
  color: #fff;
  padding-bottom: 34px !important;
}

#business .column-2 .border-top-left {
  border: none;
}

#business .row-2,
#business .row-3,
#business .row-4,
#business .row-8 {
  height: 65px;
}

#business .row-5,
#business .row-6,
#business .row-7,
#business .row-9 {
  height: 100px;
}

#plan .hover-column {
  position: relative;
}

#plan .hover-column:hover .button {
  position: relative;
  z-index: 1;
}

#plan .hover-column:hover .package-name {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  top: -24px;
  right: 0;
  left: 0;
}

#plan .hover-column:hover .package-name span {
  position: relative;
  top: 13px;
}

#plan .hover-column:hover .package-name:before {
  content: "";
  position: absolute;
  bottom: -24px;
  top: 60px;
  right: 0;
  left: 0;
}

#plan .hover-column:hover:before {
  content: '';
  position: absolute;
  top: -24px;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#personal .column-2:hover .package-name {
  border: 0;
  padding-bottom: 34px;
}

#personal .column-2:hover .package-name:before {
  background: transparent;
  border-bottom: 1px solid #e4e8e8;
}

#personal .column-3:hover .package-name:before {
  background-color: #cf70a4;
}

#personal .column-3:hover:before {
  border: solid 1px #cf70a4;
}

#personal .column-4:hover .package-name:before {
  background-color: #9b3685;
}

#personal .column-4:hover:before {
  border: solid 1px #9b3685;
}

#personal .column-5:hover .package-name:before {
  background-color: #781b6d;
}

#personal .column-5:hover:before {
  border: solid 1px #781b6d;
}

#business .column-2:hover .package-name:before {
  background-color: #cf70a4;
}

#business .column-2:hover:before {
  border: solid 1px #cf70a4;
  right: -1px;
}

#business .column-3:hover .package-name:before {
  background-color: #9b3685;
}

#business .column-3:hover:before {
  border: solid 1px #9b3685;
}

#business .column-4:hover .package-name:before {
  background-color: #781b6d;
}

#business .column-4:hover:before {
  border: solid 1px #781b6d;
}
